# Secrets
.env
*-firebase-adminsdk-*.json
To Try_copy.xlsx

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
dist/
build/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.code-workspace
